/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


$white-text-color1 : #ffffff;
$white-text-color2 : #d7d7d7;
$block-color : #5fac4a;



$bg-gray : #ffffff;
//have to change the color here for some reason
body{
  background-color: $bg-gray;
}

//just copypasted from  app.scss


.bg-light-gray{
  background-color: $bg-gray;
}

.white-text1{
  color: $white-text-color1;
}

.white-text2{
  color: $white-text-color2;
}

.logo{
  font-size: 0.7cm;
  margin: 0;
  padding: 0;
}

.centered-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rounded{
  border-radius: 3mm;
  border-width: 0;
}

.flex-row{
  display: flex;
  flex-direction: row;
}
