$bg-light-gray : #6382b4;
$white-text-color1 : #e2e6ff;
$white-text-color2 : #c4c7dc;

.bg-light-gray{
  background-color: $bg-light-gray;
}

.white-text1{
  color: $white-text-color1;
}

.white-text2{
  color: $white-text-color2;
}

.logo{
  font-size: 0.7cm;
  margin: 0;
  padding: 0;
}

