<!-- As a link -->
<nav class="bg-light-gray">

  <a class="navbar-brand white-text1" routerLink=""><i class="far fa-comment-dots logo"></i></a>
  <a class="navbar-brand white-text1" routerLink="">Home</a>
  <a class="navbar-brand white-text2" routerLink="chat">Chatroom</a>
  <a class="navbar-brand white-text2" routerLink="user">User</a>

</nav>


<router-outlet></router-outlet>


<footer>
  <div>
    <h4>Contact us!</h4>
    <p>Email : hello@karel-loves.me</p>
    <p>Phone : +420 420 696 9xd</p>
  </div>

</footer>
