//  ==========
//  ANIMATIONS
//  ==========

//sign up btn
@keyframes signInBtn {
  0%   {color: $color3;background-color: $color1;border-width: 2px;border-color: $color3;}
  100%  {color: $color1;background-color: $color3;border-width: 2px;border-color: $color4;}
}

@keyframes signInBtn2 {
  0%  {color: $color1;background-color: $color3;border-width: 2px;border-color: $color4;}
  100%   {color: $color3;background-color: $color1;border-width: 2px;border-color: $color3;}
}


//nav buttons
@keyframes navBtn {
  0% {color: $color2;}
  100% {color: $color1;border-bottom: solid 2px $color1;}
}

@keyframes navBtn2 {
  0% {color: $color1;border-bottom: solid 2px $color1;}
  100% {color: $color2;}
}
