@import "src/variables";



.centered-container{
  display: flex;
  align-items: center;
  width: 100%;

}

.two-panels{
  display: flex;

}

.two-panels > * {
  flex-basis: 100%;
}

.smol{
  background-color: $color1;
  border: solid 3px $color2;
  margin: 3%;
  color: $color5;
  padding: 3%;
  // box-shadow: 10px 10px 30px $color6;
}

.btn{
  color: $color3;
  background-color: $color1;
  border-width: 2px;
  border-color: $color3;
  transition: all 0.5s;
}


.btn:hover{
  color: $color1;
  background-color: $color3;
  border-color: $color4;
}


.centered-container{
  padding-top: 10rem;
}

h1{
  color: $color5;
  font-size: 7rem;
  margin: 18rem;
}
h3,
h2{
  color: $color3;
}


