<div class="centered-container">

  <h1>The Best chatroom!</h1>

    <div class="container">
      <div class="two-panels">
        <div class = "smol rounded">
          <h3>Buzzword1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis egestas odio sodales massa malesuada, quis tincidunt ipsum gravida. In pellentesque posuere convallis. Etiam cursus arcu luctus ullamcorper bibendum. Duis non maximus ante. Sed fermentum lacus mi, eu elementum orci accumsan et. In in ullamcorper tortor. Sed sed venenatis neque. Pellentesque molestie neque non diam tempus, a auctor augue bibendum. Quisque fermentum, diam at tristique bibendum, sapien ligula egestas sem, in tempor dui velit non erat. Maecenas ornare elit nisi, ut volutpat eros tincidunt sed. Maecenas semper nulla at molestie condimentum.</p>
        </div>
        <div class="smol rounded">
          <h3>Buzzword2</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis pharetra erat. Quisque et venenatis libero, quis fringilla diam. Aliquam convallis lectus et ligula cursus, ullamcorper fermentum turpis vehicula. Praesent nisl erat, fermentum eget augue eget, semper maximus odio. Donec in eros porttitor, pellentesque erat non, pharetra orci. Donec porta elementum elementum. Cras placerat ligula in massa pellentesque molestie. In.</p>
        </div>
      </div>



    </div>
  <h2>Register now!</h2>
  <button class="btn btn-lg">lmao doesn't work yet</button>
</div>


