//help the wars broke
$primary : #95e395;
$secondary : #639963;
$white-text-color1 : #ffffff;
$white-text-color2 : #dcf3d6;
$text-color : #3c433c;



h1{
  color: $text-color;
  font-size: 4rem;
}

.centered-container{
  display: flex;
  align-items: center;
  width: 100%;

}

.two-panels{
  display: flex;

}

.two-panels > * {
  flex-basis: 100%;
}

.smol{
  background-color: $primary;
  margin: 3%;
  color: $text-color;
  padding: 3%;
  box-shadow: 10px 10px $text-color;
}

.btn{
  color: $text-color;
  background-color: $primary;
  border-width: 2px;
  border-color: $secondary;
}

.centered-container{
  padding-top: 6rem;
}
